@mixin square {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
}

.board {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.square_bg {
    background: #cfcfcf;
    @include square;
}

.square_bg_filled {
    background: #02b875;
    @include square;
}

.square_bg_score {
    background: #ffeba3;
    @include square;
}

.button_group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: left;
    justify-content: left;
}

.button {
    margin-top: 10px;
    background: #0085f230;
    color: #333;
    width: 30%;
}

.text {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.notification_title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
